<template>
<div class="country-wrapper">
  <div class="country-container">
    <img alt="Bandeira" v-if="country.flags" :src="country.flags.svg" class="flag" />
    <div>
      <Item title="Nome" :value="country.name" />
      <Item title="Capital" :value="country.capital" />
      <Item title="Região" :value="country.region" :clickable="true" />
      <Item title="Sub-região" :value="country.subregion" />
      <Item title="População" :value="country.population" />
      <Item title="Línguas" v-if="country.languages" :value="formatLanguages(country.languages)" />
    </div>
  </div>
  <NeighboringCountries v-if="country.borders" :countries="country.borders" />
</div>
</template>

<script>
import Item from "../components/Item";
import NeighboringCountries from "../components/NeighboringCountries";
import {getCountriesByCode} from "../services/country";

export default {
  name: "CountryInfo",
  props: {
    id: String
  },
  data() {
    return {
      country: {}
    }
  },
  components: {
    Item,
    NeighboringCountries,
  },
  methods: {
    async getCountry() {
      try {
        const response = await getCountriesByCode(this.id)
        this.country = response.data
      } catch (error) {
        console.warn(error)
      }
    },
    formatLanguages(languages) {
      let formatText = '';
      languages.map((lang, i) => {
        const isLast = languages.length -1 === i

        formatText = formatText + lang.name
        if (!isLast) {
          formatText = formatText + ', '
        }
      })

      return formatText
    }
  },
  created() {
    this.$watch('id', (newVal, preVal) => {
      if (newVal !== preVal) {
        this.getCountry()
      }
    })

    this.getCountry()
  }
}
</script>

<style scoped>
.country-wrapper {
  margin: 20px 20%;
}
.flag {
  width: 100%;
  height: auto;
  margin-right: 24px;
}
.country-container {
  display: flex;
  align-items: center;
  margin-bottom: 114px;
}
@media(max-width: 480px) {
  .country-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }
}
</style>
