<template>
  <div class="row">
    <Select :list="filters" :searchable="false" v-model="selectedFilter" title="Filtrar por" :getOptionLabel="opt => opt.name" :clearable="false" />
    <div v-if="selectedFilter.id === 5">
      <div class="title">Filtrar por Código de ligação</div>
      <Separator :y="2" />
      <input class="input" :value="selectedOption" @change="changeCode" @keydown="validateNumber($event)" />
    </div>
    <Select
        v-else
        :list="selectedFilter.id === 1 ? regions : selectedFilter.id === 3 ? languages : countries"
        v-model="selectedOption"
        :title="selectedFilter.name"
        :placeholder="'Filtrar por ' + selectedFilter.name"
        :getOptionLabel="renderOption"
    />
    <SearchButton :onClick="clickSearch" />
  </div>
  <Separator :y="60" />
  <div class="container">
    <section class="list">
      <div v-for="country in pageOfItems" :key="country.id">
        <router-link :to="`/country/${country.alpha3Code}`">
          <Flag :flag="country.flags.svg" />
        </router-link>
      </div>
    </section>
  </div>
  <Pagination :items="countries" :pageSize="12" @changePage="onChangePage" />
</template>

<script>
import Separator from "@/components/Separator";
import SearchButton from "@/components/SearchButton";
import Select from "@/components/Select";
import Flag from "@/components/Flag";
import Pagination from "@/components/Pagination";
import {
  getAllCountries,
  getCountriesByLanguage,
  getCountriesByRegion,
  getCountriesByName,
  getCountriesByCallingCode
} from "@/services/country";
import {isNumber} from "@/utils";

export default {
  name: "Countries",
  components: {
    Separator,
    SearchButton,
    Select,
    Flag,
    Pagination,
  },
  props: {
    region: String
  },
  data() {
    return {
      countries: [],
      pageOfItems: [],
      pageNumber: 1,
      selectedFilter: {id: 4, name: 'País'},
      selectedOption: null,
      filters: [
        {id: 1, name: 'Região'},
        {id: 2, name: 'Capital'},
        {id: 3, name: 'Lingua'},
        {id: 4, name: 'País'},
        {id: 5, name: 'Código de ligação'}
      ],
      regions: [
        {id: 1, name: 'Africa'},
        {id: 2, name: 'Americas'},
        {id: 3, name: 'Asia'},
        {id: 4, name: 'Europe'},
        {id: 5, name: 'Oceania'},
      ],
      languages: [
        {id: 1, name: 'English', code: 'en'},
        {id: 2, name: 'Spanish', code: 'es'},
        {id: 3, name: 'Portuguese', code: 'pt'},
        {id: 4, name: 'Chinese', code: 'zh'},
        {id: 5, name: 'Italian', code: 'it'},
        {id: 6, name: 'French', code: 'fr'},
        {id: 7, name: 'Russian', code: 'ru'},
        {id: 8, name: 'German', code: 'de'},
        {id: 9, name: 'Japanese', code: 'ja'},
      ]
    };
  },
  methods: {
    async getData() {
      try {
        const response = await getAllCountries()
        this.countries = response.data;
      } catch (error) {
        console.log(error);
      }
    },
    async countriesByLanguage() {
      try {
        const response = await getCountriesByLanguage(this.selectedOption.code)
        this.countries = response.data;
      } catch (error) {
        console.log(error);
      }
    },
    async countriesByRegion() {
      try {
        const response = await getCountriesByRegion(this.selectedOption.name)
        this.countries = response.data;
      } catch (error) {
        console.log(error);
      }
    },
    async countriesByName() {
      try {
        const response = await getCountriesByName(this.selectedOption.name)
        this.countries = response.data;
      } catch (error) {
        console.log(error);
      }
    },
    async countriesByCallingCode() {
      try {
        const response = await getCountriesByCallingCode(this.selectedOption)
        this.countries = response.data;
      } catch (error) {
        console.log(error);
      }
    },
    validateNumber(val) {
      isNumber(val)
    },
    renderOption(opt) {
      if (this.countries.length > 0) {
        if (this.selectedFilter.id === 2) {
          return opt.capital
        } else {
          return opt.name
        }
      }
    },
    clickSearch() {
      if (this.selectedOption) {
        switch (this.selectedFilter.id) {
          case 1:
            return this.countriesByRegion();
          case 3:
            return this.countriesByLanguage();
          case 4:
            return this.countriesByName();
          case 5:
            return this.countriesByCallingCode();
        }
      } else {
        if (this.selectedFilter.id === 4) {
          this.getData();
        }
      }
    },
    changeCode(evt) {
      this.selectedOption = evt.target.value
    },
    onChangePage(pageOfItems) {
      this.pageOfItems = pageOfItems;
    }
  },
  created() {
    if (this.region) {
      this.selectedFilter = {id: 1, name: 'Região'}
      this.selectedOption = this.regions.find(r => r.name === this.region)
      this.countriesByRegion()
    } else {
      this.getData();
    }

    this.$watch('selectedFilter', (newVal, preVal) => {
      if (newVal !== preVal) {
        this.selectedOption = null
      }
    })
  },
}
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  width: 80%;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
@media(max-width: 480px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }
}
.title {
  font-size: 14px;
  color: #6D2080;
  margin-left: 0;
}
.input {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
  border-bottom-width: 1px;
  border-bottom-color: #A8A8A8;
  font-weight: bold;
  font-size: 16px;
}
</style>
