<template>
  <div v-if="$isMobile()" class="mobile-voltar" @click="hasHistory() ? $router.go(-1) : $router.push('/')" />
  <div v-else class="container" @click="hasHistory() ? $router.go(-1) : $router.push('/')">
    <div class="voltar" />
    Voltar
  </div>
</template>

<script>
export default {
  name: "BackButton",
  methods: {
    hasHistory () {
      return window.history.length > 1
    }
  }
}
</script>

<style scoped>
.container {
  border: 1px solid #6D2080;
  box-sizing: border-box;
  width: 134px;
  height: 36px;
  margin-right: 67px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #6D2080;
  font-size: 18px;
  cursor: pointer;
}
.voltar {
  background: url("../assets/voltar.png") no-repeat;
  background-size: contain;
  width: 19px;
  height: 12px;
}
.mobile-voltar {
  background: url("../assets/voltar.png") no-repeat;
  background-size: contain;
  width: 19px;
  height: 12px;
  margin-right: 40px;
}
</style>
