<template>
  <article>
    <img alt="Bandeira" :src="flag" class="flag" />
  </article>
</template>

<script>
export default {
  name: "Flag",
  props: {
    flag: String
  }
}
</script>

<style scoped>
article {
  position: relative;
}
.flag {
  object-fit: cover;
  width: 100%;
  height: 181px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
</style>
