<template>
  <div>
    <div class="header">
      <router-link to="/">
        <div class="logo" />
      </router-link>
      <BackButton />
    </div>
  </div>
</template>

<script>
import BackButton from '@/components/BackButton.vue';

export default {
  name: "Header",
  components: {
    BackButton
  }
}
</script>

<style scoped>
.header {
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  width: 100%;
  height: 80px;
  padding: 20px;
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background: url("../assets/logo.png");
  margin-left: 26px;
  width: 92px;
  height: 61px;
  background-size: contain;
}
</style>
