<template>
  <div class="title">Países Vizinhos</div>
  <div class="list">
    <div v-for="code in countries" :key="code">
      <NeighboringItem :code="code" />
    </div>
  </div>
</template>

<script>
import NeighboringItem from "./NeighboringItem";

export default {
  name: "NeighboringCountries",
  components: {
    NeighboringItem
  },
  props: {
    countries: Array
  },
}
</script>

<style scoped>
.title {
  font-size: 18px;
  color: black;
  line-height: 22px;
  margin-bottom: 45px;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  width: 100%;
}
</style>
