<template>
  <router-link :to="`/country/${country.alpha3Code}`">
    <Flag v-if="country.flags" :flag="country.flags.png" />
  </router-link>
</template>

<script>
import {getCountriesByCode} from "../services/country";
import Flag from "./Flag";

export default {
  name: "NeighboringItem",
  components: {
    Flag
  },
  data() {
    return {
      country: {}
    }
  },
  props: {
    code: String
  },
  methods: {
    async getCountry() {
      try {
        const response = await getCountriesByCode(this.code)
        this.country = response.data
      } catch (error) {
        console.warn(error)
      }
    }
  },
  created() {
    this.getCountry()
  }
}
</script>
