<template>
<button class="button" @click="onClick">
  PESQUISAR
</button>
</template>

<script>
export default {
  name: "SearchButton",
  props: {
    onClick: Function
  }
}
</script>

<style scoped>
.button {
  background-color: #6D2080;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  outline: inherit;
  padding: 9px 36px;
  cursor: pointer;
  align-self: flex-end;
}
</style>
