<template>
<div class="select-container">
  <div class="title">
    {{ title }}
  </div>
  <Separator :y="2" />
  <v-select
    v-bind="$attrs"
    class="select style-chooser"
    :options="list"
    :getOptionLabel="getOptionLabel"
    :placeholder="placeholder ? placeholder : 'Escolha uma opção'">
    <template #open-indicator="{ attributes }">
      <span v-bind="attributes">
        <img alt="Abrir/Fechar" class="arrow" src="../assets/arrow.png" />
      </span>
    </template>
  </v-select>
</div>
</template>

<script>
import vSelect from "vue-select";
import Separator from "@/components/Separator";

export default {
  name: "Select",
  props: {
    list: Array,
    title: String,
    getOptionLabel: Function,
    value: Object,
    placeholder: String
  },
  components: {
    vSelect,
    Separator
  }
}
</script>

<style>
.select-container {
  margin: 10px 0;
}
.select {
  width: 316px;
}
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: white;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
  border-bottom-width: 1px;
  border-bottom-color: #A8A8A8;
  color: #8D8D8D;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 16px;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}
.title {
  font-size: 14px;
  color: #6D2080;
  margin-left: 15px;
}
.arrow {
  width: 10px;
  height: 5px;
}
</style>
