<template>
  <div :style="customStyles" />
</template>

<script>
export default {
  name: "Separator",
  props: {
    x: {
      type: Number,
      default: 10,
    },
    y: {
      type: Number,
      default: 10,
    }
  },
  computed: {
    customStyles() {
      return {
        width: `${this.x}px`,
        height: `${this.y}px`
      }
    }
  }
}
</script>

<style scoped>

</style>
