<template>
  <Header />
  <Separator :y="140" />
  <router-view/>
</template>

<script>
import Header from '@/components/Header.vue'
import Separator from '@/components/Separator.vue'

export default {
  name: 'App',
  components: {
    Header,
    Separator
  }
}
</script>


<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin: 0;
  vertical-align: baseline;
}
*:focus {
  outline: none;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
